.header-section {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.profile-dropdown {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  top: 100%;
  margin-top: 6px;
  left: -15px;
  padding: 10px;
  width: 200px;
  background-color: white;
  border-radius: 6px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(5px);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}
.profile-wrapper::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 10px;
}
.profile-wrapper {
  position: relative;
}
.profile-wrapper:hover .profile-dropdown,
.profile-dropdown:hover {
  opacity: 1;
  visibility: visible;
}
.profile-dropdown {
  pointer-events: none;
}

.profile-wrapper:hover .profile-dropdown,
.profile-dropdown:hover {
  pointer-events: auto;
  transform: translateY(0);
}
